<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Eat AppleStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Eat Staging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C9AB9D18AEC7F100997C7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D2461118AD7B7700F95FDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D2463518AD7B7700F95FDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FC14A2192CE048003E2265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
